<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">

<dict>
	
   <key>items</key>
	
   <array>
		
<dict>
			
   <key>assets</key>
			
   <array>
				
<dict>
					
   <key>kind</key>
					
   <string>software-package</string>
					
   <key>url</key>
					
   <string>http://115.231.103.46:880/DownLoad1/phone/ios/5188play.ipa</string>
				
</dict>
				
<dict>
					
   <key>kind</key>
					
   <string>display-image</string>
					
   <key>url</key>
					
   <string>http://115.231.103.46:880/DownLoad1/phone/ios/displayImage_5188.png</string>
				
</dict>
				
<dict>
					
   <key>kind</key>
					
   <string>full-size-image</string>
					
   <key>url</key>
					
   <string>http://115.231.103.46:880/DownLoad1/phone/ios/displayImage_5188play.png</string>
				
</dict>
			
</array>
			
<key>metadata</key>
			
<dict>
				
   <key>bundle-identifier</key>
				
   <string>com.qsky.core.game5188</string>
				
   <key>bundle-version</key>
				
   <string>1.0</string>
				
   <key>kind</key>
				
   <string>software</string>
				
   <key>title</key>
				
   <string>5188play</string>
			
</dict>
		
</dict>
	
</array>

</dict>

</plist>
